In [1]:
#function 
'''
def name(input1, input2, ...):
  ----
  ----
  ----
  return output1,out2,...
'''
print("Function")

Function

In [3]:
#power 

x = int(input("paye :"))
y = int(input("tavan : "))
p = 1
for i in range(y):
  p=p*x
print(x, "^", y, "=", p)

paye :2
tavan : 3
2 ^ 3 = 8

In [4]:
def power(paye, tavan):
  o = 1
  for i in range(tavan):
    o = o * paye
  return o

In [5]:
power(2,3)

8

In [6]:
power(3,4)

81

In [7]:
power(4,4)

256

In [8]:
power(1,2)

1

In [9]:
x = 2
y = 3
power(x,y)

8

In [12]:
x = int(input("paye :"))
y = int(input("tavan : "))
r = power(x,y)
print(type(r))
print(x,"^",y,"=",r)

paye :2
tavan : 12
<class 'int'>
2 ^ 12 = 4096

In [15]:
def print_etelaat(name, age, ghad):
  print("name :", name, type(name))
  print("age :", age, type(age))
  print("ghad :", ghad, type(ghad))

In [16]:
print_etelaat("ali", 20, 179.6)

name : ali <class 'str'>
age : 20 <class 'int'>
ghad : 179.6 <class 'float'>

In [17]:
n = "amirhossein"
a = 24
g = 187.3
print_etelaat(n,a, g )

name : amirhossein <class 'str'>
age : 24 <class 'int'>
ghad : 187.3 <class 'float'>

In [18]:
name = "amirhossein"
age = 24
ghad = 187.3
print_etelaat(name,age, ghad )

name : amirhossein <class 'str'>
age : 24 <class 'int'>
ghad : 187.3 <class 'float'>

In [24]:
def powert(paye, tavan):
  o = 1
  x = 75
  for i in range(tavan):
    o = o * paye
  return o, x, o*7

In [25]:
x,y,z = powert(5,2)
print(x,y,z)

25 75 175